*{
    margin:0;
    padding:0;
    color:white;

}


.pai{
    display:flex;
}
.container{
    padding:0 20px;
    background-color:rgb(37, 0, 37);
}

ul{
    align-items:center;
    display:flex;
    justify-content:space-between;
    padding:16px;
    list-style-type:none;
}

ul a:hover{
    color:rgb(211, 145, 255);
    cursor:pointer;
}

a{
    text-decoration:none;
}

.perfil{
    text-align:center;
    padding:50px;
}

.perfil img{
    width:100px;
    height:100px;
    border-radius:50%;
    border: 2px solid;
}

main section{
    padding-top:35px;
    
}

main section h3{
    color:rgb(211, 145, 255);    
}





main h4{
    padding-top:30px;
    color:rgb(211, 145, 255);
}








footer img{
    width:35px;
    height:35px;
}

footer{
    text-align:center;
    display:flex;
    justify-content:center;
    padding:16px;
    bottom:0;
}

footer a{
    margin:20px;
}

footer p{
    margin-top:2px;
}

footer p:hover{
    color:rgb(211, 145, 255);
}
